* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header,
section h2 {
    font-family: 'bungee', cursive;
    font-weight: normal;
}

body {
    font-family: sans-serif;
}

header {
    padding: 36px 0;
    background-color: rgb(0, 119, 255);
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 20px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1288px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
    color:rgb(0, 119, 255);
}

section p {
    margin-bottom:8px;
}

.univeiga {
    margin-right: 32px;
}
